/* Import Fonts */
@import "fonts/fonts.css";

* {
  margin: 0;
  padding: 0;
}
/* Main Container */
body {
  background: #1a1a2e;
  color: #e8e8e8;
  font-family: Arial, Helvetica, sans-serif;
}

.head {
  background: #0f3460;
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.head-content {
  text-align: center;
  width: 80vw;
}

.head-content h1 {
  font-family: Bebas Neue, Arial, Helvetica, sans-serif;
  font-size: 40px;
  letter-spacing: 5px;
  margin-bottom: 1em;
  text-align: center;
}

/* Footer */

.links > div {
  align-items: center;
  background: #0f3460;
  border-bottom: 10px solid#0c294c;
  border-radius: 0 0 50px 50px;
  display: flex;
  height: 40vh;
  padding-left: 3em;
}

.links section {
  margin: 35px;
}

.links p {
  color: #939999;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 25px;
}

.links a {
  display: block;
  font-size: 18px;
  margin: 5px 0;
}

.links a:hover > i {
  opacity: 1;
}

.links i {
  transition: opacity 0.3s;
  opacity: 0;
}

footer {
  background: #16213e;
  display: block;
  margin: 0;
  padding: 20px;
  text-align: center;
}

footer .fa-heart:hover {
  color: #b31a1a;
  transition: color 1s;
}

footer .fa-mug-hot:hover {
  color: #80a867;
  transition: color 1s;
}

footer span:hover {
  font-weight: bold;
}

footer span:hover .indo {
  color: #ff0000;
}

/* Left Footer */
.left-section {
  background: black;
  justify-content: left;
}

/* Right Footer */
.right-section {
  position: absolute;
  right: 3em;
}

/* Nav */

nav {
  background: #16213e;
  display: flex;
}

nav a {
  color: #bbbfca;
  font-weight: bold;
  padding: 1.5em 1em;
  transition: color 0.3s;
}

nav a:hover {
  color: inherit;
}

.nav-right {
  display: inherit;
  position: absolute;
  right: 0;
}

.login-button {
  margin-left: 1.5em;
  padding: 1.5em 0;
}

.login-button a {
  padding: 1.5em 1.5em;
}
/* Search Box */
.search-box {
  height: fit-content;
  margin-left: 8em;
}

form {
  display: flex;
  padding: 1em;
}

form input[type="text"] {
  border: 2px solid transparent;
  border-radius: 10px;
  height: 2.5em;
  margin-right: 0.3em;
  outline: none;
  padding-left: 10px;
  transition: border 0.5s;
  width: 30em;
}

form input[type="text"]:focus,
form input[type="text"]:active {
  border: 2px solid #51adcf;
}

form input[type="text"]:focus {
  outline: none;
}

form button {
  background: transparent;
  border: none;
  border-radius: 10px;
  position: relative;
  right: 2.5em;
  width: 30px;
}

form button:active,
form button:focus {
  outline: none;
}

/* Slides */
.first-slide {
  align-items: center;
  background: #16697a;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding-bottom: auto;
}

.first-slide > article {
  margin: 50px;
  text-align: left;
  width: 60vw;
}

.first-slide h1 {
  margin-bottom: 25px;
}

.second-slide {
  align-items: center;
  background: #206a5d;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding-bottom: auto;
}

.second-slide > article {
  margin: 50px;
  text-align: left;
  width: 60vw;
}

.second-slide h1 {
  margin-bottom: 25px;
}

.third-slide {
  align-items: center;
  background: #3b2e5a;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding-bottom: auto;
}

.third-slide > article {
  margin: 50px;
  text-align: left;
  width: 60vw;
}

.third-slide h1 {
  margin-bottom: 25px;
}
/* Links */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #51adcf;
}
